@import 'tailwindcss';

:root {
  --yellow: #facc15;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
.swiper-slide {
  background-color: transparent !important;
}
body {
  background: #eee;
  /* font-family: 'sans, sans-serif' !important; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 30%;
}

.swiper-slide:nth-child(2n) {
  width: 30%;
}

.swiper-slide:nth-child(3n) {
  width: 30%;
}

.swiper-slide-active {
  transform: scale(1.2) !important;
  transition: all 0.3s ease !important;
}

@media screen and (max-width: 578px) {
  .swiper-slide-active {
    transform: scale(0.8) !important;
    transition: all 0.3s ease !important;
  }

  .swiper-slide-active .textBox {
    transform: translateX(20px) !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-slide-active .textBox {
    transform: translateX(50px);
  }
}

.swiper-slide-active .textBox {
  background-color: var(--yellow);
  color: black;
  font-size: 12px;
}

.swiper-slide-active .circleBox {
  background-color: var(--yellow);
}

.swiper-slide-active .customBorder {
  border: 2px solid var(--yellow);
}
